/*
  plugged in webpack:

    * Core
      * Settings: Global variables, config switches.

      * Tools: Mixins and functions.

      * lib: Js functions

  should using in your webpack entry file:

    * Generic: Reset and/or normalize styles

    * Vendor: List of vendor styles.

    * Base: Unclassed HTML elements.

    * Blocks: BEM classes.

    * Trumps: Helpers and overrides.
*/

@import generic

